/* CSS for form components */

.input-container {
  padding: 10px;
}

input {
  margin-top: 5px;
  height: 1.5em;

  &[type="text"], &[type="date"] {
    display: block;
  }

  &:focus {
    outline: 3px solid #FFB500;
    outline-offset: 0;
  }

  &.ng-invalid {
    border: 2px solid #C7384F;
  }
}

select {
  display: block;
  margin-top: 5px;
}
